<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Guessing Game</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Number Guessing Game</h1>
        <p>Guess a number between 1 and 100:</p>
        <form method="post" action="{{ url_for('guess_number') }}" >
            <input type="number" id="guess-input" name="guess-input" placeholder="Enter your guess..." min="1" max="100">
            <button type="submit" >Submit</button>
        </form>
        <div id="message">
            <p>{{ message }}</p>
        </div>
    </div>
</body>
</html>
